/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  html {
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  h1 {
    text-align: center;
    margin: 0;
    /*padding: auto; */
    font-size: 3em;
    letter-spacing: 0.1em;
  }

  h2{
    font-size: 2em;
  }

p {
    font-size: 1.5em;
    text-indent: 1.25rem;
  }  

  body { 
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
  }

  a {
    color: #a66;
    text-decoration: underlineq;
  }

  a:visited {
    color: rgb(95, 42, 95);
  }

  a:hover {
    color: rgb(77, 77, 165);
    text-decoration: none;
  }

  a:focus {
    color: white;
    text-decoration: none;
    outline: none;
    background-color: rgb(27, 27, 27);
  }

  a[href^="http"]::after{
    content: url(external-link-52.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 3px;
    /*vertical-align: middle; */
  }

  li {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
  }